.tab {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    width: 200px;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.primary {
    color: black;
    background-color: white;
    &:hover {
        background-color: darkgrey;
    }
}

.secondary {
    color: white;
    background-color: black;
    &:hover {
        background-color: darkgrey;
    }
}